{
    "presets": [
        "react-app",
        ["@babel/env", {
            "targets": {
                "node": "12.10.0",
                "browsers": [
                    "safari >= 13.1",
                    "last 13 versions"
                ]
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-private-methods", { "loose": true }],
        ["@babel/plugin-proposal-private-property-in-object", { "loose": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        ["@babel/plugin-syntax-import-assertions", { "loose": true }],
        ["@babel/plugin-syntax-dynamic-import", { "loose": true }]
    ]
}
