{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "eqeqeq": "off",
        "no-script-url": "off",
        "constructor-super": "error",
        "no-alert": "off",
        "no-console": "off",
        "no-useless-return": "warn",
        "no-empty": "off",
        "no-restricted-globals": "off",
        "array-callback-return": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "import/no-anonymous-default-export": "off",
        "import/no-webpack-loader-syntax": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    }
}
