.search-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    .search-input {
        flex: 1;
    }
    .search-result {
        flex: 6;
        margin-top: 5px;
        overflow-y: auto;
    }
}
