.search-dialog {
    display: flex;
    flex-direction: column;
    height: 100%;
    .search-header {
        flex: 1;
        .search-input {
            display: inline-block;
            width: 90%;
        }
        .search-open-item {
            float: right;
        }
    }
    .search-result {
        flex: 6;
        margin-top: 5px;
        overflow-y: auto;
    }
}
