.settings-dialog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    & > * {
        height: 100%;
    }
    .settings-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid @light-gray;
        ul {
            li {
                width: 100%;
                height: 35px;
                margin-bottom: 5px;
                color: #888;
                cursor: pointer;
                &:hover {
                    color: #333;
                }
                &.on {
                    color: #111;
                }
                .sidebar-item-title {
                    vertical-align: text-bottom;
                    margin-left: 5px;
                }
            }
        }
        .add-plugin {
            padding-left: 15px;
            padding-bottom: 7px;
        }
    }
    .settings-main {
        flex: 4;
        form .settings-section {
            padding-left: 20px;
            .section-title {
                display: flex;
                flex-direction: row;
                border-bottom: 1px solid @light-gray;
                h4 {
                    flex: 30;
                    font-weight: bold;
                    padding-bottom: 5px;
                    margin-bottom: 0;
                }
            }

            p {
                width: 568px;
                margin-top: 10px;
            }
        
            .settings-option {
                height: 38px;
                margin-top: 15px;
                margin-bottom: 15px;
        
                span, dd {
                    vertical-align: sub;
                }
                span.text {
                    float: right;
                }
                dd.description {
                    display: inline-block;
                    margin-left: 10px;
                    margin-bottom: 0;
                    font-size: 9pt;
                    color: @light-gray2;
                }
        
                .toggle {
                    #mixin.settings-input(middle);
                }
            
                input[type=text], input[type=password], .form-select {
                    #mixin.settings-input(middle);
                    width: 270px;
                }
            }

            // Password settings
            .submit {
                float: right;
                margin-top: 10px;
            }

            // Plugin config settings
            .plugin-list {
                margin-top: 15px;
                max-height: 215px;
                overflow-y: auto;
                .plugin-name {
                    float: left;
                    cursor: pointer;
                }
                .plugin-id {
                    float: right;
                    font-size: 10pt;
                    color: @light-gray2;
                }
                .react-contextmenu {
                    width: 120px;
                    padding: 7px;
                    background-color: #eee;
                    border: 1px solid @light-gray;
                    border-radius: .25rem;
                    z-index: 1000;
                    .react-contextmenu-item {
                        padding: 5px;
                        border-radius: .25rem;
                        cursor: pointer;
                        &:hover {
                            background-color: #ff3636;
                            color: @white;
                        }
                    }
                }
            }

            // About
            .check-update {
                float: right;
            }
        }
    }
}
