.editor {
    .main-container {
        margin: 0 auto;
        width: 700px;
        height: 100%;
        .header-container {
            margin-top: 30px;
            height: 120px;
            top: 0;
            color: @theme-color;
            h1 {
                font-weight: bold;
            }
            p {
                display: inline-block;
            }
            .control-button {
                float: right;
                margin-left: 10px;
            }
        }
        .text-container {
            height: 525px;
            #ferrum-editor .ace_gutter {
                background-color: #f0f0f0;
            }
        }
    }
}
