.explorer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;

    .left-bottom-buttons {
        display: none;
        .left-sidebar-open {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 10px;
            width: 20px;
            background-image: url("../../icons/right_arrow.svg");
        }
    }
    .main-container {
        flex: 3;
        flex-direction: column;
        height: 100vh;
        margin-left: 35px;
        margin-right: 35px;
        * {
            color: @theme-color;
        }
        .header-container {
            @button-num: 2;

            height: 110px;
            margin-top: 30px;
            h1 {
                margin-left: 50px;
                font-weight: bold;
            }
            nav {
                display: flex;
                height: 40px;
                margin-top: 20px;
                white-space: nowrap;
                .header-button {
                    flex: 1;
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                    border: none;
                    background-color: transparent;
                    background-position: center center;
                    background-repeat: no-repeat;
                }

                .path-input {
                    flex: 55;
                    width: 89%;
                    display: inline-block;
                }
                .back-button {
                    background-image: url(../../icons/arrow_back.svg);
                }

                .dialog-plugin-button {
                    margin-left: 5px;
                }

                .star-button {
                    margin-left: 5px;
                    background-image: url(../../icons/star_outline.svg);
                }
                .search-button {
                    margin-left: 5px;
                    background-image: url(../../icons/search.svg);
                }
                .set-password-button {
                    margin-left: 5px;
                    background-image: url(../../icons/key.svg);
                }
                .settings-button {
                    background-image: url(../../icons/settings.svg);
                }
            }
        }
        .toolbuttons-container {
            display: flex;
            flex: 1;
            height: 40px;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: space-between;
            * {
                color: @theme-color;
            }
            button {
                margin-right: 10px;
                color: @white !important;
            }
            .left-wrapper {
                display: flex;
                button {
                    flex: 1;
                    width: 20px;
                    height: 20px;
                    margin: 10px;
                    border: none;
                    background-color: transparent;
                    background-position: center center;
                    background-repeat: no-repeat;
                    &#open-file {
                        background-image: url(../../icons/file_open.svg);
                    }
                    &#delete-file {
                        background-image: url(../../icons/delete.svg);
                    }
                    &#download-file {
                        background-image: url(../../icons/file_download.svg);
                    }
                    &#open-terminal {
                        background-image: url(../../icons/terminal_dark.svg);
                    }
                    &:disabled {
                        opacity: .6;
                    }
                }
            }
        }
        .list-container {
            height: 60vh;
            min-height: 450px;
            overflow-y: auto;
            * {
                color: @theme-color;
            }
            p.list-message-text {
                text-align: center;
                font-size: 10pt;
                margin-top: 20px;
            }
            .list-group {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                button:hover {
                    background-color: @white;
                    .list-item-name {
                        color: #0d6efd;
                        text-decoration: underline;
                    }
                }
            }
            &::-webkit-scrollbar {
                width: 5px;
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: @light-gray2;
                &:hover {
                    background-color: @light-gray5;
                }
                &:active {
                    background-color: @light-gray6;
                }
            }
        }
        .footer-container {
            height: 55px;
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            * {
                color: @light-gray3 !important;
            }
            p {
                text-align: center;
            }
            .copy-info {
                padding-top: 15px;
                font-style: italic;
            }
        }
    }
    .sidebar-left-container {
        flex: 1;
        background-color: @light-gray4;
        padding-top: 40px;
        padding-left: 25px;
        padding-right: 25px;
        * {
            color: @theme-color;
        }
        .header-container {
            margin-bottom: 10px;
            padding-left: 10px;
            p {
                margin-bottom: 5px;
                font-weight: bold;
            }
        }
        .body-container {
            height: 560px;
            overflow-y: auto;
            button {
                border: none;
                background: transparent;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                .list-item-name {
                    display: block;
                    margin-left: 30px;
                    font-size: 11pt;
                    width: 240px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:hover {
                    .list-item-name {
                        color: #0d6efd;
                        text-decoration: underline;
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url(../../icons/star_rate.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .sidebar-right-container {
        display: grid;
        flex: 1;
        grid-template-rows: 180px 200px 330px;
        background-color: @white;
        
        .right-sidebar-panel {
            padding: 15px;
            border: @light-gray solid 1px;
            color: @theme-color;
        }
        .about-container {
            object {
                vertical-align: bottom;
                margin-right: 10px;
            }
            span {
                float: right;
                line-height: 30px;
                font-size: 10pt;
            }
        }
        .upload-container {
            overflow-y: auto;
        }
        .system-info-container {
            ul {
                padding-left: 20px;
                li {
                    margin-top: 3px;
                    list-style: none;
                    button { // details button
                        margin-top: 10px;
                    }
                }
            }
        }

        .filepond--wrapper .filepond--credits {
            display: none;
        }
        a {
            word-wrap: break-word;
        }
    }
}
