.explorer {
    .main-container {
        margin: 0 auto;
        width: 700px;
        height: 100%;
        * {
            color: @theme-color;
        }
        .header-container {
            margin-top: 30px;
            height: 120px;
            top: 0;
            h1 {
                font-weight: bold;
            }
            .path-input {
                margin-top: 20px;
                width: 625px;
                display: inline-block;
            }
            .header-button {
                width: 20px;
                height: 20px;
                margin: 10px;
                border: none;
                background-color: transparent;
                background-position: center center;
            }
            .star {
                margin-left: 5px;
                background-image: url(../../icons/star_outline.svg);
            }
            .set-password {
                background-image: url(../../icons/key.svg);
            }
        }
        .toolbuttons-container {
            margin-top: 7px;
            margin-bottom: 20px;
            height: 30px;
            * {
                color: @theme-color;
            }
            button {
                margin-right: 10px;
                color: @white !important;
            }
        }
        .list-container {
            overflow-y: scroll;
            height: 450px;
            * {
                color: @theme-color;
            }
            .list-item {
                outline: none;
                height: 41px;
                .list-item-name {
                    margin-left: 30px;
                    color: @black;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 500px;
                }
                .list-item-size {
                    font-size: 9pt;
                    color: @light-gray2 !important;
                    float: right;
                    padding-top: 3px;
                }
                .list-item-rename {
                    width: 200px;
                    height: 25px;
                    position: absolute;
                    top: 0.5rem;
                    left: calc(1rem + 30px);
                    font-size: 11pt;
                    padding: 7px 4.5px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    top: 10px;
                }
                &[data-type="folder"]::before {
                    background-image: url(../../icons/folder.svg);
                }
                &[data-type="file"]::before {
                    background-image: url(../../icons/file.svg);
                }
                &:focus {
                    background-color: #e2e2e2;
                }
            }
        }
        .footer-container {
            height: 130px;
            * {
                color: @light-gray3 !important;
            }
            p {
                text-align: center;
            }
            .copy-info {
                padding-top: 20px;
                font-style: italic;
            }
        }
    }
    .sidebar-left-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 350px;
        background-color: @light-gray4;
        * {
            color: @theme-color;
        }
        .header-container {
            margin-top: 30px;
            text-align: center;
        }
        .body-container {
            margin-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
            button {
                padding-left: 10px;
                .list-item-name {
                    margin-left: 30px;
                    font-size: 11pt;
                    vertical-align: top;
                }
                &::before {
                    content: "";
                    position: absolute;
                    background-image: url(../../icons/star_rate.svg);
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .sidebar-right-container {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 350px;
        .filepond--wrapper .filepond--credits {
            display: none;
        }
    }
}
