@import "./vars.less";

@import "./explorer.less";
@import "./editor.less";

body {
    margin: 0;
    padding: 0;
    background-color: @light-gray;
    #root {
        font-family: @font;
    }
}
